/* Specifications */
body {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4em;
	color: #000;
	overflow-x: hidden;

}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 700;
	color: #323232;
}

p {
	margin: 0; 
}

.container {
	width: 1110px;
	margin: 0 auto;
}

.container_flex {
	display: flex;
	align-items: center;
}

a {
	text-decoration: none;
}

input, button:focus {
	outline: none;
}

button {
	cursor: pointer;
	border: none;
}

.btn {
	display: block;
	background: #5F51FF;
	color: #fff;
	font-size: 15px;
	width: 200px;
	padding:  13px 0 15px;
	border-radius: 30px;
	text-align: center;
	line-height: 1.13em;
}

.section-heading {
	font-size: 36px;
	line-height: 1.4em;
	margin-bottom: 18px;
}

/* Header */
.header {
	background: linear-gradient(87.43deg, rgba(27, 24, 60, 0.94) 1.44%, rgba(56, 32, 87, 0.29) 96.08%), url(../img/header-bg.png) no-repeat center top / cover;
	color: #fff;

}

.nav {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
	background: url('../img/logo.svg');
	display: block;	
	width: 150px;
	height: 40px;
	align-self: center;
	margin-right: 69px;
}

.menu__list {
	display: flex;
}

.menu__item a {
	font-weight: lighter;
	text-decoration: none;
	color: #fff;
	padding: 30px 22px 32px;
	display: block;
}

.menu__active {
	border-bottom: 2px solid #fff;

}

.menu__item a:hover {
	border-bottom: 2px solid #fff;
}

.tel {
	color: #fff;
	font-size: 17px;
	line-height: 20px;
	font-weight: 700;
	margin-left: auto;
}

.offer-wrapper {
	padding: 140px 0 70px;
}

.offer__title {
	color: #fff;
	font-size: 48px;
	line-height: 1.2em;
	width: 937px;
}

.offer__intro {
	width: 320px;
	margin-top: 18px;
	margin-bottom: 24px;
}

.offer__btn {
	transition: background 0.5s ease;
}

.offer__btn:hover {
	background: #4A3DD6;
	transition: background 0.5s ease;
}

.header-arrow {
	background: url('../img/Vector-1.svg');
	width: 16px;
	height: 24px;
	display: block;
	margin-top: 168px;	
	opacity: 1;
	transition: all 0.5s ease;
}

.header-arrow:hover {
	opacity: 0.5;
	transition: all 0.5s ease;
}

/*Services*/
.services-section {
	padding: 100px 0 97px;
}

.services-subtitle {
	width: 561px;
}

.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
 	margin-top: 75px;
 }
 
.services__item {
	width: 510px;
	height: auto;
	display: flex;
	align-items: center;
	color: #000;
}

.services__item:nth-last-child(n+3) {
	margin-bottom: 55px;
}

.services__img {
	width: 211px;
	margin-right: 29px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 10px 10px 10px;
}

.services__title {
	margin-bottom: 15px;
	font-size: 19px;
}

.services__text {
	font-size: 15px;
	margin-bottom: 15px;
}

.services__price {
	color: #FF4975;
	font-size: 15px;
}

.btn__services {
	margin-top: 78px;
	transition: background 0.5s ease;
}

.btn__services:hover {
	background: #4A3DD6;
	transition: background 0.5s ease;
}

/*Projects*/
.projects-section {
	padding-top: 103px;
	padding-bottom: 200px;
	background: #F7F6F8;
	position: relative;
}

.projects__subtitle {
	width: 561px;
	margin-bottom: 75px;
}

.projects-wrapper {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #B8B8B8;
	padding-bottom: 89px;
	margin-bottom: 50px;
}

.card {
   position: relative;
   transition: all .5s ease-in;
}
 
.card__image {
   display: block;
   border-radius: 15px;
   width: 100%;
   height: auto;
}

.card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: .5s ease;
  background: #393839 url(../img/search-vector.png) no-repeat center center;
  border-radius: 15px;
}

.card:hover .card__overlay {
  opacity: 0.4;
}

.achievments {
	display: flex;
	justify-content: space-between;
	
	padding-right: 25px;
}
.achievments__item {
	width: 99px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.achievments__number {
	font-size: 36px;
	font-weight: 700;
	line-height: 1.4em;
	margin-bottom: 2px;
}

.workout__title {
	margin-bottom: 24px;
}

.workout {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #F4EAFF;
	border-radius: 15px;
	width: 801px;
	min-height: 292px;
	text-align: center;
	padding: 51px 88px;
	margin-top: 80px;
	z-index: 10;
}

.workout__text:not(:last-child) {
	margin-bottom: 10px;
}

.workout__btn {
	margin: 32 auto 0;
	transition: background 0.5s ease;
}

.workout__btn:hover {
	background: #4A3DD6;
	transition: background 0.5s ease;
}

/*Video*/
.video-section {
	padding: 265px 0 103;
}

.video{
	text-align: center;
}

.video__title {
	font-size: 36px;
}

.video__subtitle{
	width: 561px;
	margin: 0 auto 76px;
}

.video__wrapper {
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 62px;
	width: 830px;
	margin: 0 auto;
}
.video-frame {
	width: 100%;
	height: 426px;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 10px;
}

/*Footer*/
footer {
	background: #F7F6F8;
	padding: 100px 0 100px;

}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.connect-list {
	margin-top: 32px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.58em;
	width: 260px;
}

.connect-list__item a {
	display: flex;
	color: #000;
}

.footer-icon {
	margin-right: 17px;
}

.connect-list__item:not(:last-child) {
	margin-bottom: 20px;
}
.copyright {
	display: block;
	font-size: 14px;
	margin-top: 35px;
}

.social-title {
	margin-bottom: 73px;
}	

.social-wrapper {
	font-size: 14px;
	line-height: 1.58em;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
}
.social-wrapper a {
	display: block;
	text-decoration: none;
	color: #5F51FF
}

.social-wrapper__item:not(:last-child) {
	margin-right: 22px;
}

.social-wrapper__item:hover {
	text-decoration: underline;
}

.subscribe-form {
	width: 393px;
	height: 45px;
	display: flex;
	position: relative;
	margin-top: 20px;
}

.footer-content__subscribe {
	margin: auto 0;
}

.subscribe-input {
	width: 385px;
	border: 1px solid #F2F2F2;
	box-sizing: border-box;
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-style: 13px;
	font-weight: 1.58em;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
	padding-left: 35px;
	padding-right: 41px;
}

.subscribe-btn {
	width: 45px;
	height: 45px;
	border: none;
	position: absolute;
	right: 0px;
	padding: 12px 14px 16px 11px;
}

.rights {
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-size: 13px;
	display: block;
	margin-top: 23px;
}






/*  Responsive  */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	.container {
		max-width: 960px;
	}

	.services__item:not(:last-child) {
		margin-bottom: 55px;
	}

	.card {
		width: 32%;
	}

	.achievments {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}
	.tel {
		display: none;
	}

	.logo {
		margin: 0;
	}

	.menu__item a {
		padding-left: 20px;
		padding-right: 20px;
	}

	.container_flex {
		justify-content: space-between;
	}

	.offer__title {
		font-size: 37px;
		max-width: 100%;
	}

	.projects-wrapper {
		flex-wrap: wrap;
	}

	.card {
		width: 48%;
	}

	.card:nth-last-child(n+3) {
		margin-bottom: 28px;
	}

	.card__overlay {
		display: none;
	}

	.workout {
	 	max-width: 720px;
	}

	.video__wrapper {
	 	max-width: 720px;
	}

	.video-frame {
	 	max-height: 369px;
	}

	.footer-content {
		flex-wrap: wrap;
		padding-right: 118px;
	}

	.footer-content__connect {
		margin-bottom: 82px;
	}
}


/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}

	.menu__list {
		display: none;
	}

	.nav {
		padding: 26px 0 20px;
	}

	.section-heading {
		font-size: 28px;
	}

	.paragraph {
		width: auto;
	}

	.achievments {
		flex-wrap: wrap;
	}

	.achievments__item:last-child {
		margin-right: 76px; 
	}

	.achievments__item:nth-last-child(3) {
		margin-left: 76px; 
	}

	.achievments__item:nth-child(-n+4) {
		margin-bottom: 24px; 
	}

	.workout {
	 max-width: 540px;
	}

	.video__wrapper {
	 max-width: 540px;
	}

	.video-frame {
	 max-height: 275px;
	}

	.footer-content__connect {
		margin-bottom: 64px;
	}

	.footer-content__social {
		margin-bottom: 83px;
	}

	.tel {
		display: revert;
	}
}

/* Breakpoint: 480px - 575px */
@media (max-width: 575px) {
	.container {
		padding:  0 15px;
		width: auto;
	}

	.offer__title {
		font-size: 25px;
	}

	.offer__intro {
		width: auto;
	}

	.services__title {
		font-size: 16px;
	}
	.services__text {
		font-size: 14px;
	}

	.services__img {
		width: 41%;
	}

	.card {
		width: 76%;
	}
	.card:not(:last-child) {
		margin-bottom: 30px;
	}

	.projects-wrapper {
		justify-content: center;
	}

	.workout {
		max-width: 93%;
		padding-left: 22px;
		padding-right: 22px;
	}

	.video__wrapper {
		max-width: 100%;
	}

	.video-frame {
		max-height: 231px;
	}

	.video-section {
		padding-top: 300px;
	}
}


/* Breakpoint: 0 (320px) - 479px */
@media (max-width: 479px) {
	.tel {
		display: none;
	}

	.services {
		box-sizing: content-box;
	}

	.services__item {
		flex-direction: column;
		align-items: flex-start;
	}

	.services__img {
		margin-right: 0;
		width: auto;
	}

	.card {
		width: auto;
	}

	.achievments {
		flex-direction: column;
		align-items: center;
	}

	.achievments__item:not(:last-child) {
		margin-bottom: 40px;
	}

	.achievments__item:last-child {
		margin-right: 0; 
	}

	.achievments__item:nth-last-child(3) {
		margin-left: 0; 
	}

	.video-section {
		padding-top: 390px;
	}

	.video-frame {
    max-height: 200px;
	}

	.social-title {
		margin-bottom: 32px;
	}

	.footer-content__social {
		margin-bottom: 0;
	}

	.footer-content__subscribe {
		display: none;
	}
}

	



/* 

👍 Алгоритм работы по созданию отзывчивости:

	1. Прописать <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> в секцию <head>

	2. Вставить шаблон медиа-запросов в конец CSS-файла

	3. Проверять работоспособность и отсутствие горизонтального скролла на нижней границе каждого диапазона

	4. Перестраиваем контент, скрываем лишнее, заменяем на подходящее 

	5. Не забываем нажимать CTRL+0 при переходе между брейкпоинтами

*/



/* Large: 992px - 1199px */
/*@media (max-width: 1199px) {
	.container {
		max-width: 960px;
	}
}*/

/* Medium: 768px - 991px */
/*@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}
}*/

/* Small: 576px - 767px */
÷

/* Extra small: 0px (320px) - 575px */
/*@media (max-width: 575px) {
	.container {
		padding: 0 15px;
	}
}*/




/*  ➗ Формула написания медиа-запросов  */

/*@media условие {

}*/

/*  📱 Типы устройств: all, screen, print  */

/*@media screen {

}*/

/*  ➕ Операторы: and, ",", not  */

/*@media screen and (max-width: 1000px) {
	.element {
		background: red;
	}
}

@media screen, (max-width: 800px) {
	.element {
		background: green;
	}
}

@media screen not (max-width: 500px) {
	.element {
		background: blue;
	}
}*/

/*  🔶 Медиа-функции:

	- width   min-width   max-width
	- height  min-height  max-height
	- orientation  (portrait/landscape)
	- resolution  min-resolution  max-resolution  (dpi, dpcm, dppx)  /  1dppx = 96dpi

*/

/*@media (min-width: 400px) {
	.element {
		background: yellow
	}
}

@media (orientation: landscape) and (min-resolution: 2dppx) {
	.element {
		background: url('../img/image@2px.jpg')
	}
}

*/